description "imagersite"

start on (filesystem)
stop on runlevel [016]

respawn
setuid www-data
setgid ubuntu
chdir {{ django_home }}
env DJANGO_SETTINGS_MODULE='imagersite.settings'
env SECRET_KEY={{ secret_key }}
env ALGORITHMIA_KEY={{ algorithmia_key }}
env ALLOWED_HOSTS={{ ec2_public_dns_name }}
env STATIC_ROOT={{ static_root }}
env MEDIA_ROOT={{ media_root }}
env DATABASE_URL={{ db_url }}
env EMAIL_HOST={{ email_host }}
env EMAIL_PORT={{ email_port }}
env EMAIL_HOST_USER={{ email_user }}
env EMAIL_HOST_PASSWORD={{ email_pw }}
exec gunicorn -b 127.0.0.1:8000 -w 4 imagersite.wsgi
